In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import os
from config import password
from psycopg2 import sql, connect

/Users/clarerobbins/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
try:
    # declare a new PostgreSQL connection object
    conn = connect(
        dbname = "",
        user = "postgres",
        host = "tennesseetornadoes.cdi1utmdgtwo.us-east-1.rds.amazonaws.com",
        port = "5432",
        password = password
    )

    # print the connection if successful
    print ("psycopg2 connection:", conn)

except Exception as err:
    print ("psycopg2 connect() ERROR:", err)
    conn = None

psycopg2 connection: <connection object at 0x7fb20c24ac20; dsn: 'user=postgres password=xxx dbname='' host=tennesseetornadoes.cdi1utmdgtwo.us-east-1.rds.amazonaws.com port=5432', closed: 0>

In [5]:
cr = conn.cursor()
cr.execute('SELECT * FROM total_tn_tornadoes;')
tmp = cr.fetchall()

In [7]:
# Extract the column names
col_names = []
for elt in cr.description:
    col_names.append(elt[0])

In [8]:
# Create the dataframe, passing in the list of col_names extracted from the description
df = pd.DataFrame(tmp, columns=col_names)

df.head()

,yr,mo,date,time,mag,slat,slon,elat,elon,len,wid,fatalities,injuries,property_loss,starting_county,ending_county
0,2011,4,2011-04-09,14:35:00,0,36.2971,-82.3174,36.2934,-82.3021,0.89,50,0,0,4.0,Carter County,Carter County
1,2011,4,2011-04-09,16:00:00,1,36.3,-82.4341,36.3,-82.4341,3.0,150,0,0,5.0,Washington County,Washington County
2,2011,4,2011-04-09,16:08:00,1,36.3037,-82.3923,36.3099,-82.3846,0.61,100,0,0,4.0,Washington County,Washington County
3,2011,4,2011-04-09,16:15:00,0,36.0424,-82.5568,36.0477,-82.5393,1.04,50,0,0,4.0,Unicoi County,Unicoi County
4,2011,4,2011-04-27,19:07:00,0,36.2255,-83.057,36.2263,-83.0486,0.5,70,0,0,3.0,Greene County,Greene County